<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
    <div align="center">
    <h1> New User </h1>
    <form action="#" th:action="@{/users}" th:object="${user}" method="post">
    	<label> Email: </label>
        <input type="text" th:field="*{email}"/>
        <label> Password: </label>
        <input type="password" th:field="*{password}"/>
        <label> First Name: </label>
        <input type="text" th:field="*{firstName}"/>
        <label> Last Name: </label>
        <input type="text" th:field="*{lastName}"/><br/><br/>
        <label> DNI: </label>
        <input type="text" th:field="*{dni}"/>
        <label> Date Birth: </label>
        <input type="text" th:field="*{birthDate}"/>
        <label> Nationality: </label>
        <input type="text" th:field="*{nationality}"/> <br/><br/>
        <button type="submit" name="newUser">Create</button>
    </form>
	</div>
</body>
</html>