<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habitaciones Disponibles</title>
</head>
<body>
<div class="container-fluid">
    <div align="center"> <h1> Rooms Availability </h1></div>
    <form action="#" th:action="@{/bookings/availability}" th:object="${roomsAvailability}" method="post">
        <label> Check In </label>
        <input type="text" th:field="*{checkIn}"/>
        <label> Check Out </label>
        <input type="text" th:field="*{checkOut}"/>
        <label> Occupancy </label>
        <input type="text" th:field="*{occupancy}"/>
        <button type="submit" name="availability"> Check Availability </button><br/>
    </form>
    <div align="center">
    <table>
    	<thead>
    	<tr>
    		<th> Room </th>
    		<th> Occupancy </th>
    		<th> Facilities </th>
    		<th> Price </th>
    	</tr>
    	</thead>
    	<tbody>
    	<tr th:if="${rooms.empty}">
    		<td colspan="4"> No Rooms Available </td>
    	</tr>
    	<tr th:each="room : ${rooms}">
    		<td><span th:text="${room.name}"> Room </span></td>
    		<td><span th:text="${room.occupancy}"> Occupancy </span></td>
    		<td><span th:text="${room.facilities}"> Facilities </span></td>
    		<td><span th:text="${room.price}"> Price </span></td>
    		<td>
                <form action="#" th:action="@{/bookings/new}" th:object="${booking}" method="post">
                    <input type="hidden" th:name="checkIn" th:value="${roomsAvailability.checkIn}"/>
                    <input type="hidden" th:name="checkOut" th:value="${roomsAvailability.checkOut}"/>
                    <input type="hidden" th:name="occupancy" th:value="${roomsAvailability.occupancy}"/>
                    <input type="hidden" th:name="roomId" th:value="${room.id}"/>
                    <button type="submit" name="book">Book</button>
                </form>
            </td>
    	</tr>
    	</tbody>
    </table>
	</div>
</div>
</body>
</html>